

html, body { width: 100%; height: 100%; }
@font-face { font-family: "gibson","helvetica","avenir"; src: url("./fonts/ctgl.otf"); }

body {

    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: "gibson", "helvetica", "avenir";
}

.wrapper{
    
    height: 100%;

}

.right{
    right: 0;
}

.left{
    left: 0;
}

.megawrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    
    
}
.wrapper_menu{
    
    height: 100%;
    width: 20%;
    
    
    

}



h1, h3, p {
    
    font-weight: lighter;
    }


.logo{
    height: 50px;
    top: 40px;
    left: 3%;
    font-family: "futura";
    position: fixed;
    font-size: 25px;  
    letter-spacing: 3px; 
    z-index: 4;
    background-color: white;


    /*border: solid blue;*/
     

}

.logo2{
    position: fixed;
    margin-top: 80px;
    width: 14%;
    
    
    font-family: "avenir";
   
    font-size: 10px;  
   
    letter-spacing: 4px; 
    top: 0;
    left: 3%;
    z-index: 4;
    background-color: white;

    

}

/*img {
    transform: scale(0.5);
}*/





.menu2 a h3 {

    font-size: 8pt;
    text-align: left;
    color: #383838;
    z-index: 2;


}
.menu{
    margin-top: 20px;
     position: re;
     
     top: 100%;
     left: 0;
     width: 100%;
     height: 100%; 
    /* border: solid green;*/ 
    z-index: 2; 
}


.menu2{
     position: absolute;
     
     top: 20%;
     left: 3%;
     width: 15%
     
     height: 100%; 
    /* border: solid black; */ 
}

.mainbody{
    position: absolute;
    width: 70%;
    height: 100%;
    left: 30%;
    top: 20%;
    bottom: 20%;
    /*border: solid yellow;*/
   
}

.mainbody2{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -100%;
    /*border: solid red;*/
   
}

.mainbody3{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -200%;
    border: solid blue;
   
}

.mainbody4{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -300%;
    border: solid blue;
   
}

.secondbody{
    position: absolute;
    bottom: 10%;
    left: 7%;
    width: 20%;
    height: 10%;
   /* border: solid red;*/
    
}

.thirdbody{
    position: absolute;
    top: 275%;
    left: 7%;
    width: 20%;
    height: 10%;
   /* border: solid red;*/
    
}



.current{
    position: absolute;
    top: 2%;
}

.menu a h3 {

    font-size: 8pt;
    text-align: left;

}

.holder1{
    position: absolute;
    top: 0;
    left: 0%;
    /*border: solid red;*/
    width: 600px;
    height: 650px;
    background-image: url("img/stairs02.png");
    
    

}

.holder2{
    position: absolute;
    /*border: solid yellow;*/
    top: 0;
    left: 700px;
    width: 320px;
    height: 400px;
    
}

.caption1{
     
    
    text-align: left;
    font-size: 16px;
    font-family: avenir;
}




.holder3{
    position: absolute;
    /*border: solid blue;*/
    top: 0;
    left: 700px;
    width: 45px;
    height: 650px;
    background-image: url("img/menu.png");
    background-repeat: no-repeat;
    background-position: bottom;
    
}



.holder4{
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 40%;
   /* border: solid red;*/
    width: 600px;
    height: 216.66px;
    background-image: url("img/stairs03.png");

}

.holder5{
    /*display: none;*/
    position: absolute;
    
    top: 30%;
    left: 40%;
    /*border: solid blue;*/
    width: 600px;
    height: 216.66px;
    background-image: url("img/stairs04.png");

}

.holder6{
    /*display: none;*/
    position: absolute;
    
    top: 60%;
    left: 40%;
    /*border: solid green;*/
    width: 600px;
    height: 216.66px;
    background-image: url("img/stairs05.png");

}

.holder7{
    position: absolute;
    width: 320px;
    height: 400px;
    top: 100px;
    margin-right: 100px;
    
    border: solid green;
    
    

}



.holder8{
    position: absolute;
    width: 200px;
    height: 60px;
    bottom: 300px;
    top: 75%;
    left: 100px;
   /* border: solid green;*/
    background-image: url("img/solve02.png");   

}

.holder9{
    position: absolute;
    width: 200px;
    height: 60px;
    top: 65%;
    bottom: 200px;
    left: 0;
    /*border: solid green;*/
    background-image: url("img/solve03.png");   

}

.holder10{
    margin: 60px, 0, 80px, 0;
    
    /*display: none;*/
    position: absolute;
    top: 130px;
    left: 5%;
    
    width: 200px;
    height: 200px;
    background-image: url("img/buttons03.png"); 
    

}

.holder11{
    /*display: none;*/
    position: absolute;
    margin: 60px, 0, 80px, 0;

    top: 130px;
    left: 25%;
    
    width: 200px;
    height: 200px;
    background-image: url("img/buttons02.png"); 
   

}
.holder12{
    /*display: none;*/
    position: absolute;
    margin: 150px, 150px, 150px, 150px;
    
    top: 370px;
    left: 5%;
    
    width: 200px;
    height: 200px;
    background-image: url("img/buttons06.png"); 
   

}
.holder13{
    /*display: none;*/
    position: absolute;
     margin: 150px, 150px, 150px, 150px;
    top: 370px;
    left: 25%;
    
    width: 200px;
    height: 200px;
    background-image: url("img/buttons05.png"); 
   

}
.holder14{
    /*display: none;*/
    position: absolute;
    margin: 150px, 150px, 150px, 150px;
    
    top: 610px;
    left: 5%;
    
    width: 200px;
    height: 200px;
    background-image: url("img/buttons07.png"); 
   

}
.holder15{
    /*display: none;*/
    position: absolute;
    margin: 150px, 150px, 150px, 150px;
    top: 610px;
    left: 25%;
    
    width: 200px;
    height: 200px;
    background-image: url("img/buttons04.png"); 
   

}

.holder16{
    position: absolute;
    margin: 150px, 150px, 150px, 150px;
    top: 610px;
    left: 25%;
    
    width: 200px;
    height: 200px;
    background-image: url("img/buttons04.png");

}


a {
    text-decoration: none;
    color: black;
}



.footer p {
    font-size: 6pt;
    text-align: right;
    margin: 0 auto;
    bottom: 10px;
    right: 1%;
    position:fixed;

}

.image img {
    
    width: 100px;
    height: 150px;
    position: absolute;
     margin: auto;
     top: -300px;
     right: 0;
     bottom: 0;
     left: 0;
    
}


/*GRAPHICDESIGN*/
.graphicphoto img{
    width: 150px;
    height: 200px;
    position: absolute;
     margin: auto;
     top: -300px;
     right: 0;
     bottom: 0;
     left: 0;
}


.left-side{
    width: 180px;
    height: 30px;
    position: fixed;
    right: 15px;
    top: 2%;

}

.side {
    display: inline-block;
    margin-right: 10px;
}
.sidebar {
    font-family: "gibson", "helvetica", "avenir";
    font-weight: lighter;
    font-size: 8pt;
    color: black;
    position: relative;
   
}

.side-bar {
    font-family: "gibson", "helvetica", "avenir";
    font-weight: lighter;
    font-size: 8pt;
    color: black;
    position: relative;
  
    
}

.contact {
    font-family: "gibson", "helvetica", "avenir";
    font-weight: lighter;
    font-size: 8pt;
    color: black;
    position: relative;
    display: inline-block;
    
    
}

.text {
    position: fixed;
    width: 300px;
    height: 200px;
   top: 52%;
   left: 50%;
   transform: translate(-50%);
    

}

.about {
   position: relative;
    font-size: 10pt;
    font-weight: lighter;
    font-family: "gibson", "helvetica", "avenir";
    color: black;
    line-height: 15px;
}

.phone, .email {
    position: relative;
    margin-top: 20px;
    font-size: 10pt;
    font-weight: lighter;
    font-family: "gibson", "helvetica", "avenir";
    color: black;
    line-height: 15px;

}

.email {
    margin-top: 30px;
}

.contact_fixed h1 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.square {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    top: 2%;
    left: 1%;
    cursor: pointer;
}

.back {
    font-family: "gibson", "helvetica", "avenir";
    font-weight: lighter;
    font-size: 8pt;
    color: black;
    position: fixed;
    top: 1%;
    left: 3%;
    opacity: 0;
}

.title{
    font-family: futura;
    font-weight: ligher;
    letter-spacing: 4px;
    font-size: 35px;
    text-align: right;
}

.titlemini{
    font-family: avenir;
    letter-spacing: 5px;
    font-size: 14px;
    text-align: right;
}






