body {
	margin: 50px;
	padding: 0;
	font-size: 0;
	background-color: #4A93BC;

}



.container{
	background: #ff0;
	width: 150px;
	height: 150px;
	position: fixed;
	overflow: hidden;
	right: 25px;
	bottom: 25px;


}




.letter-wrapper_r{
	display: inline-block;
	width: 100px;
	height: 100px;


	
}

.letter_r{
	width: 50px;
	height: 80px;
	left: 50%;
	bottom: 0;
	transform: translate(-50%);
	
	position: relative;	

	
}

.bar{
	position: absolute;
	background: #D7AE92;
	

	
}



.horizontal_r{
	height: 19px;
	width: 46px;
	left: 0;
	

	
}




.left_r{
	left: 0;
	height: 76px;
	width: 19px;
	
z-index: 6;
}
.right_r{
	right: 0;
	width: 19px;
	height: 36px;

z-index: 6;
}

.dark{background: #6F4E37}
.clear{background: #D7AE92;}
.blue{background: #6F4E37; }
.white{background: #fff; }
.yellow{background: #F9BC76; }
