body{
	background: url("background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
	font-family: helvetica;
	margin: 0;
	padding: 0;
	max-width: 500px;
s
	
	}

h1 {font-size: 16px;
	color: white;
	margin: 0;
	font-weight: normal;
}

#wrapper{
	font-family: helvetica;
	position: fixed;
	width: 100%;
    height: 40%;
    padding-top: 0%;
/*    border: solid black;
*/    background-size: cover;
    position: absolute;
    margin-left: auto;
    margin-right: auto;

}

	

a:link, a:visited {
	color: white;
	text-decoration: none;

	}




.buttons{
	width: 40px;
	height: 140px;
	float: left;
	background: url("menu.png") no-repeat;
	margin-top: 15px;
	margin-left: 20px;
	z-index: 1000;
}
.buttons1{
	width: 70px;
	height: 60px;
	/*background color to see the div*/
	/*border: solid yellow;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;



}

.buttons2{
	width: 70px;
	height: 40px;
	/*background color to see the div*/
	/*border: solid red;*/
	position: fixed;
	top: 65px;
	left: 0;
	z-index: 1000;
}

 .buttons3{
	width: 70px;
	height: 40px;
	/*background color to see the div*/
	/*border: solid green;*/
	position: fixed;
	top: 110px;
	left: 0;
	z-index: 1000;
}

.triangle1{
	width: 100%;
	height: 40%;
	position: fixed;
	/*border color to see the div*/
/*	border: solid yellow;
*/	top: 0px;
	right: 0%;
	z-index: 50;
}

.continue{
	width: 100%;
	height: 10%;
	position: fixed;
	/*border color to see the div*/
/*	border: solid green;
*/	bottom: 60%;
	color: #FE667B;
	z-index: 1000;
}


.back{
	width: 100%;
	height: 5%;
	position: fixed;
	/*border color to see the div*/
/*	border: solid red;
*/	bottom: 60%;
	right: 0%;
	
	z-index: 1000;
	color: white;
}


h2 	{font-size: 12px;
	font-family: futura;
	color: white;
	
	margin: 0;
	font-weight: normal;
	text-align: center;
}





.start{
	width: 60%;
	height: 40%;
	position: absolute;
	/*border color to see the div*/
/*	border: solid green;
*/	bottom: 60%;
	top: 0%;
	right: 0%;
	z-index: 1000;

}

.help{
	width: 50px;
	height: 200px;
	position: relative;
	float: right;
	clear: right;
	margin-top: 2%;
	right: 2%;
	font-family: futura;
	color: white;
	
	vertical-align: top;
}

a:hover {
	color: #FE667B
}

h2.hover {
	color: #FE667B
}

