body{
	background: #4A93BC no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
	font-family: helvetica;
	margin: 0;
	padding: 0;
	max-width: 500px;
s
	
	}

h1 {font-size: 16px;
	color: white;
	margin: 0;
	font-weight: normal;
}

#wrapper{
	font-family: helvetica;
	position: fixed;
	width: 100%;
    height: 50%;
    padding-top: 0%;
    /*border: solid black;*/
    background-size: cover;
    position: absolute;
    margin-left: auto;
    margin-right: auto;

}

	

a:link, a:visited {
	color: white;
	text-decoration: none;

	}


.container{
	width: 100%;
	height: 50%;
	top: 50%;
	position: relative;
	/*border: solid black;*/
	
}

.prompt{
	color: white;
	font-family: futura;
	font-size: 80px;
	text-align: center;
	
}

