body
{
background: white; top center no-repeat;
color:#1a89be;
font-weight:400;
height:80px;
margin:0 20px 10px 0;
text-align:center;
}


a:link{text-decoration: none;}
a:visited{color: #1a89be}



.header_box{
	z-index: 200;
	width: 100%;
	height: 180px;
	position: fixed;
	top: 0%;
	background: #BBEBFF;
	transform: translate (-50%);
	/*display none;*/



}

.menu{

	vertical-align: center;
	position: absolute;
	bottom: 5%;
	left: 50%;

	transform: translate(-50%, -50%);
	/*border: solid red;*/
}

.prout{

	position: fixed;
	display: inline-block;
	left: 0%;
	font-size: 45px;
	font-family: futura;
	border: solid: blue;
}

.logo{
	height: 190px;
	transform:scale(1.3);
	top:0;

	position: absolute;
	/*border: solid green;*/
	left: 0;

}

.prout2{
	position: absolute;
	left: 50%;
	bottom: 70%;
	transform:translate(-50%);
	font-size: 36px;
	font-family: futura;
	color: white;
	/*border: solid yellow;*/
}

.prout3{
	position: absolute;
	left: 50%;
	bottom: 65%;
	
	font-size: 16px;
	font-family: futura;
	/*border: solid yellow;*/
}

.title{
	font-family: courier;
	font-size: 20px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform:translate(-50%);
}


.second_box{
	background: light blue;
	position: absolute;
	top: 180px;
	width: 100%;
	height: 100%;
/*	border: solid green;
*/}


.marquee{
position: absolute;
  height: 25px;
  width: 420px;
  bottom: 30%;
  left: 50%;
  transform:translate(-50%);

  overflow: hidden;
 /* border: solid yellow;*/
}



.marquee span{
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 5s linear infinite;
}


@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
button{
	font-size: 14px;
	font-family: futura;
	color: #646464;
	background-color: #BBEBFF;
	border: solid white;
}


button:hover{
	background-color: white;
	color: #BBEBFF;
}



.tete{

	position: absolute;
	top: 0%;
	height: 40%;
	width: 100%;
	overflow: hidden;
}

.welcome{
	width: 100%;
	height: 10%;
	position: absolute;
	top: 35%;
	font-size: 30px;
	font-family: futura;
}


.diapo_box{
	top: 0;
	position: absolute;
	width: 100%;
	height:25%;
/*	border: solid yellow;*/
}

.mySlides{
	position: absolute;
	left: 50%;
	transform:translate(-50%);
	width: 90%;
	height: 100%;
}

.w3-button_w3-display-left{
	position: absolute;
	left: 5%;
	top: 50%;
	font-size: 40px;

}


.w3-button_w3-display-right{
	position: absolute;
	right: 5%;
	top: 50%;
	font-size: 40px;


}

.first{
	top: 45%;
	
}

.second{
	top: 75%;
}






.button_patient{

	width:20%;
	height: 100px;
	background-color: #E9DDDD;
	position: absolute;
	left: 10%;
	
	border-radius: 20px;
	box-shadow: 5px 5px 0px #BBEBFF;
}

.button_medecin{
	width:20%;
	height: 100px;
	background-color: #CAA5A5;
	position: absolute;
	
	left: 40%;
	border-radius: 20px;
	box-shadow: 5px 5px 0px #BBEBFF;
}

.button_radiologue{
	width:20%;
	height: 100px;
	background-color: #EDEDED;
	position: absolute;
	
	right: 10%;
	border-radius: 20px;
	box-shadow: 5px 5px 0px #BBEBFF;
}

.button_radiologue_third{
	width:20%;
	height: 100px;
	background-color: #EDEDED;
	position: absolute;
	top:105%;
	left: 50%;
	transform:translate(-50%);
	border-radius: 20px;
	box-shadow: 5px 5px 0px #BBEBFF;
}


.banner_button{

	position: absolute;
	background-color: white;
	height: 30%;
	width: 100%;
	bottom: 8%;
	/*border: solid yellow;*/
}

.banner_prompt{
	display: inline-block;
	position: absolute;
	text-align: center;
	font-family: futura;
	font-size: 14px;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
}



.banner_button:hover{background-color: #BBEBFF; }
.banner_button:hover .banner_prompt{color: white;}



.prompt_button{
	width: 100%;
	display: inline-block;
	position: absolute;
	top: 200%;
	font-family: futura;
	font-size: 10px;
	left: 50%;
	transform:translate(-50%);
}

.buttons_box_1{
	
	
	width: 100%;
	height: 30%;
	border: solid yellow;
}





